@use "vars";

.bg--jam {
  background-color: var(--jambonz);
  color: var(--white);
}

.bg--black {
  background-color: var(--black);
  color: var(--white);
}

.bg--dark {
  background-color: var(--dark);
  color: var(--white);
}

.bg--grey {
  background-color: var(--grey-light);
}

.bg--pink {
  background-color: var(--pink);
}

.bg--blue {
  background-color: var(--blue);
}

.bg--purple {
  background-color: var(--purple);
}

.bg--teal {
  background-color: var(--teal);
}
