@use 'vars';

.bg--jambonz {
  background-color: vars.$jambonz;
  color: vars.$white;
}

.bg--black {
  background-color: vars.$black;
  color: vars.$white;
}

.bg--charcoal {
  background-color: vars.$charcoal;
  color: vars.$white;
}

.bg--grey {
  background-color: vars.$grey;
}

.bg--pink {
  background-color: vars.$pink;
}

.bg--blue {
  background-color: vars.$blue;
}

.bg--purple {
  background-color: vars.$purple;
}

.bg--teal {
  background-color: vars.$teal;
}