@use 'vars';
@use 'mixins';

.btn {
  @include mixins.font-bold();
  white-space: nowrap;
  font-size: vars.$m-size;
  line-height: 1;
  padding: 23px 64px 21px;
  background-color: vars.$jambonz;
  color: vars.$white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  transition: background-color vars.$base-dur vars.$base-ease,
              border-color vars.$base-dur vars.$base-ease,
              color vars.$base-dur vars.$base-ease;

  &:hover {
    background-color: mix(vars.$pink, vars.$jambonz, vars.$mix-amount);
  }

  @media (max-width: vars.$width-tablet-2) {
    font-size: vars.$ms-size;
  }

  &--dark {
    background-color: vars.$dark;

    &:hover {
      background-color: mix(vars.$white, vars.$dark, vars.$mix-amount);
    }
  }

  &--blue {
    background-color: vars.$blue;

    &:hover {
      background-color: mix(vars.$white, vars.$blue, vars.$mix-amount);
    }
  }

  &--teal {
    background-color: vars.$teal;

    &:hover {
      background-color: mix(vars.$white, vars.$teal, vars.$mix-amount);
    }
  }

  &--purple {
    background-color: vars.$purple;

    &:hover {
      background-color: mix(vars.$white, vars.$purple, vars.$mix-amount);
    }
  }

  &--white {
    background-color: vars.$white;
    color: vars.$jambonz;

    &:hover {
      background-color: mix(vars.$grey, vars.$white, vars.$mix-amount);
    }
  }

  &--grey {
    background-color: vars.$grey;
    color: vars.$white;

    &:hover {
      background-color: mix(vars.$white, vars.$grey, vars.$mix-amount);
    }
  }

  &[disabled] {
    background-color: vars.$grey;
    cursor: not-allowed;
    color: vars.$white;

    &:hover {
      background-color: vars.$grey;
    }
  }

  &--hollow {
    font-family: vars.$font-regular;
    background-color: transparent;
    border: 2px solid vars.$jambonz;
    color: vars.$jambonz;
    padding: 18px 32px 17px;

    &:hover {
      background-color: vars.$jambonz;
      color: vars.$white;
    }

    @media (max-width: vars.$width-mobile) {
      padding: 15px 32px 16px;
    }
    
    svg, span {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      margin-right: 16px;
      width: 18px;
      height: 18px;

      @media (max-width: vars.$width-tablet-2) {
        margin-right: 12px;
        width: 16px;
        height: 16px;
      }

      @media (max-width: vars.$width-mobile) {
        margin-right: 10px;
        width: 14px;
        height: 14px;
      }
    }

    &.btn--dark {
      border-color: vars.$dark;
      color: vars.$dark;
      
      svg {
        stroke: vars.$dark;
      }

      &:hover {
        background-color: vars.$dark;
        color: vars.$white;

        svg {
          stroke: vars.$white;
        }
      }

    }

    &.btn--blue {
      border-color: vars.$blue;
      color: vars.$blue;

      svg {
        stroke: vars.$blue;
      }

      &:hover {
        background-color: vars.$blue;
        color: vars.$white;

        svg {
          stroke: vars.$white;
        }
      }
    }

    &.btn--teal {
      border-color: vars.$teal;
      color: vars.$teal;

      svg {
        stroke: vars.$teal;
      }

      &:hover {
        background-color: vars.$teal;
        color: vars.$white;

        svg {
          stroke: vars.$white;
        }
      }
    }

    &.btn--purple {
      border-color: vars.$purple;
      color: vars.$purple;

      svg {
        stroke: vars.$purple;
      }

      &:hover {
        background-color: vars.$purple;
        color: vars.$white;

        svg {
          stroke: vars.$white;
        }
      }
    }

    &.btn--white {
      border-color: vars.$white;
      color: vars.$white;

      svg {
        stroke: vars.$white;
      }

      &:hover {
        background-color: vars.$white;
        color: vars.$dark;

        svg {
          stroke: vars.$dark;
        }
      }
    }

    &.btn--grey {
      border-color: vars.$grey;
      color: vars.$grey;

      svg {
        stroke: vars.$grey;
      }

      &:hover {
        background-color: vars.$grey;
        color: vars.$white;

        svg {
          stroke: vars.$white;
        }
      }
    }

    &[disabled] {
      background-color: transparent;
      border-color: vars.$grey;
      cursor: not-allowed;
      color: vars.$grey;

      svg {
        stroke: vars.$grey;
      }
  
      &:hover {
        background-color: transparent;
        border-color: vars.$grey;
        color: vars.$grey;

        svg {
          stroke: vars.$grey;
        }
      }
    }
  }

  &--small {
    font-family: vars.$font-medium;
    font-size: vars.$ms-size;
    padding: 10px 26px;

    @media (max-width: vars.$width-tablet-2) {
      font-size: vars.$mxs-size;
    }
  }
}

.btn:not(.btn--hollow, .btn--small) {
  @media (max-width: vars.$width-tablet-2) {
    padding: 18px 46px;
  }
}

.btns {
  margin: 0 calc(-#{vars.$width-padding} / 2);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: vars.$width-mobile) {
    flex-direction: column;
  }

  .btn {
    margin: 0 calc(#{vars.$width-padding} / 2);

    &:not(:first-child) {
      @media (max-width: vars.$width-mobile) {
        margin-top: 16px;
      }
    }

    @media (max-width: vars.$width-mobile) {
      margin: 0;
    }
  }
}
