@use 'vars';
@use 'mixins';

.btn {
  font-size: vars.$m-size;
  line-height: 1;
  padding: 23px 64px 21px;
  background-color: vars.$jambonz;
  color: vars.$white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  transition: background-color vars.$base-dur vars.$base-ease,
              border-color vars.$base-dur vars.$base-ease,
              color vars.$base-dur vars.$base-ease;
  @include mixins.font-bold();

  &:hover {
    background-color: mix(vars.$pink, vars.$jambonz, vars.$mix-amount);
  }

  @media (max-width: vars.$width-tablet-2) {
    font-size: vars.$ms-size;
  }

  // @note: Consideration on stopping type reduction here
  // @media (max-width: vars.$width-mobile) {
  //   font-size: vars.$mxs-size;
  // }

  &--login {
    font-family: vars.$font-medium;
    font-size: vars.$ms-size;
    background-color: transparent;
    border: 2px solid vars.$jambonz;
    color: vars.$jambonz;
    padding: 10px 26px;

    &:hover {
      background-color: vars.$jambonz;
      color: vars.$white;
    }

    &--blue {
      color: vars.$blue;
      border-color: vars.$blue;

      &:hover {
        background-color: vars.$blue;
        color: vars.$white;
      }
    }

    &--teal {
      color: vars.$teal;
      border-color: vars.$teal;

      &:hover {
        background-color: vars.$teal;
        color: vars.$white;
      }
    }

    &--purple {
      color: vars.$purple;
      border-color: vars.$purple;

      &:hover {
        background-color: vars.$purple;
        color: vars.$white;
      }
    }

    &--white {
      color: vars.$white;
      border-color: vars.$white;

      &:hover {
        background-color: vars.$white;
        color: vars.$charcoal;
      }
    }

    @media (max-width: vars.$width-tablet-2) {
      font-size: vars.$mxs-size;
    }
  }

  &--fill {
    &--dark {
      background-color: vars.$charcoal;

      &:hover {
        background-color: mix(vars.$white, vars.$charcoal, vars.$mix-amount);
      }
    }

    &--blue {
      background-color: vars.$blue;

      &:hover {
        background-color: mix(vars.$white, vars.$blue, vars.$mix-amount);
      }
    }

    &--teal {
      background-color: vars.$teal;

      &:hover {
        background-color: mix(vars.$white, vars.$teal, vars.$mix-amount);
      }
    }

    &--purple {
      background-color: vars.$purple;

      &:hover {
        background-color: mix(vars.$white, vars.$purple, vars.$mix-amount);
      }
    }

    &--white {
      background-color: vars.$white;
      color: vars.$jambonz;

      &:hover {
        background-color: mix(vars.$grey-light, vars.$white, vars.$mix-amount);
      }
    }
  }

  &--pill {
    font-family: vars.$font-regular;
    background-color: transparent;
    border: 2px solid vars.$charcoal;
    color: vars.$charcoal;
    padding: 18px 32px 17px;

    &:hover {
      background-color: vars.$charcoal;
      color: vars.$white;
    }

    @media (max-width: vars.$width-mobile) {
      padding: 15px 32px 16px;
    }
    
    svg, span {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      margin-right: 16px;
      width: 18px;
      height: 18px;

      @media (max-width: vars.$width-tablet-2) {
        margin-right: 12px;
        width: 16px;
        height: 16px;
      }

      @media (max-width: vars.$width-mobile) {
        margin-right: 10px;
        width: 14px;
        height: 14px;
      }
    }

    &--jambonz {
      border-color: vars.$jambonz;
      color: vars.$jambonz;

      &:hover {
        background-color: vars.$jambonz;
        color: vars.$white;

        svg {
          stroke: vars.$white;
        }
      }

      svg {
        stroke: vars.$jambonz;
      }
    }

    &--blue {
      border-color: vars.$blue;
      color: vars.$blue;

      &:hover {
        background-color: vars.$blue;
        color: vars.$white;

        svg {
          stroke: vars.$white;
        }
      }

      svg {
        stroke: vars.$blue;
      }
    }

    &--teal {
      border-color: vars.$teal;
      color: vars.$teal;

      &:hover {
        background-color: vars.$teal;
        color: vars.$white;

        svg {
          stroke: vars.$white;
        }
      }

      svg {
        stroke: vars.$teal;
      }
    }

    &--purple {
      border-color: vars.$purple;
      color: vars.$purple;

      &:hover {
        background-color: vars.$purple;
        color: vars.$white;

        svg {
          stroke: vars.$white;
        }
      }

      svg {
        stroke: vars.$purple;
      }
    }

    &--white {
      border-color: vars.$white;
      color: vars.$white;

      &:hover {
        background-color: vars.$white;
        color: vars.$charcoal;

        svg {
          stroke: vars.$charcoal;
        }
      }

      svg {
        stroke: vars.$white;
      }
    }
  }
}

.btn:not(.btn--pill, .btn--login) {
  @media (max-width: vars.$width-tablet-2) {
    padding: 18px 46px;
  }
}

.btns {
  margin: 0 -2.2222222222vw;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: vars.$width-mobile) {
    flex-direction: column;
  }

  .btn {
    margin: 0 2.2222222222vw;

    &:not(:first-child) {
      @media (max-width: vars.$width-mobile) {
        margin-top: 16px;
      }
    }

    @media (max-width: vars.$width-mobile) {
      margin: 0;
    }
  }
}