@use 'vars';

svg {
  transition: stroke vars.$base-dur vars.$base-ease;
}

.ico {
  display: inline-block;
  background-color: vars.$jambonz;
  width: vars.$icon-size-1;
  height: vars.$icon-size-1;
  border-radius: 100%;
  position: relative;

  @media (max-width: vars.$width-mobile) {
    width: vars.$icon-size-2;
    height: vars.$icon-size-2;
  }

  svg {
    stroke: vars.$white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;

    @media (max-width: vars.$width-mobile) {
      width: 18px;
      height: 18px;
    }
  }

  &--dark {
    background-color: vars.$dark;
  }

  &--blue {
    background-color: vars.$blue;
  }

  &--teal {
    background-color: vars.$teal;
  }

  &--purple {
    background-color: vars.$purple;
  }

  &--white {
    background-color: vars.$white;

    svg {
      stroke: vars.$dark;
    }
  }

  &--hollow {
    background-color: transparent;
    border: 2px solid vars.$jambonz;

    svg {
      stroke: vars.$jambonz;
    }

    &.ico--dark {
      border: 2px solid vars.$dark;

      svg {
        stroke: vars.$dark;
      }
    }

    &.ico--blue {
      border: 2px solid vars.$blue;

      svg {
        stroke: vars.$blue;
      }
    }

    &.ico--teal {
      border: 2px solid vars.$teal;

      svg {
        stroke: vars.$teal;
      }
    }

    &.ico--purple {
      border: 2px solid vars.$purple;

      svg {
        stroke: vars.$purple;
      }
    }

    &.ico--white {
      border: 2px solid vars.$white;

      svg {
        stroke: vars.$white;
      }
    }
  }
}

.icos {
  margin: 0 -16px;

  @media (max-width: vars.$width-mobile) {
    margin: 0 -8px;
  }

  .ico {
    margin: 0 16px;

    @media (max-width: vars.$width-mobile) {
      margin: 0 8px;
    }
  }

  &--set {
    .ico {
      margin: 16px;
  
      @media (max-width: vars.$width-mobile) {
        margin: 8px;
      }
    }
  }
}
