@use 'vars';

svg {
  transition: stroke vars.$base-dur vars.$base-ease;
}

.ico {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: vars.$jambonz;
  width: vars.$icon-size-1;
  height: vars.$icon-size-1;
  border-radius: 100%;

  @media (max-width: vars.$width-mobile) {
    width: vars.$icon-size-2;
    height: vars.$icon-size-2;
  }

  svg {
    stroke: vars.$white;
    width: 22px;
    height: 22px;

    @media (max-width: vars.$width-mobile) {
      width: 18px;
      height: 18px;
    }
  }

  &--dark {
    background-color: vars.$dark;
  }

  &--blue {
    background-color: vars.$blue;
  }

  &--teal {
    background-color: vars.$teal;
  }

  &--purple {
    background-color: vars.$purple;
  }

  &--white {
    background-color: vars.$white;

    svg {
      stroke: vars.$dark;
    }
  }

  &--hollow {
    background-color: transparent;
    border: vars.$width-border solid vars.$jambonz;

    svg {
      stroke: vars.$jambonz;
    }

    &.ico--dark {
      border-color: vars.$dark;

      svg {
        stroke: vars.$dark;
      }
    }

    &.ico--blue {
      border-color: vars.$blue;

      svg {
        stroke: vars.$blue;
      }
    }

    &.ico--teal {
      border-color: vars.$teal;

      svg {
        stroke: vars.$teal;
      }
    }

    &.ico--purple {
      border-color: vars.$purple;

      svg {
        stroke: vars.$purple;
      }
    }

    &.ico--white {
      border-color: vars.$white;

      svg {
        stroke: vars.$white;
      }
    }
  }
}

.icos {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: vars.$px02;

  @media (max-width: vars.$width-mobile) {
    grid-gap: vars.$px01;
  }

  &--set {
    flex-wrap: wrap;
  }
}
