@use "vars";

.wrap {
  width: 100%;
  padding-left: var(--width-padding);
  padding-right: var(--width-padding);
}

.pad {
  padding-top: var(--px05);
  padding-bottom: var(--px05);

  @media (max-width: vars.$width-tablet-1) {
    padding-top: var(--px04);
    padding-bottom: var(--px04);
  }

  img {
    display: inline-block;
  }
}

.pad-b {
  padding-bottom: var(--px05);

  @media (max-width: vars.$width-tablet-1) {
    padding-bottom: var(--px04);
  }
}

.pad-t {
  padding-top: var(--px05);

  @media (max-width: vars.$width-tablet-1) {
    padding-top: var(--px04);
  }
}
