@use 'vars';

.wrap {
  width: 100%;
  padding-left: vars.$width-padding;
  padding-right: vars.$width-padding;
}

.pad {
  padding-top: vars.$px05;
  padding-bottom: vars.$px05;

  @media (max-width: vars.$width-tablet-1) {
    padding-top: vars.$px04;
    padding-bottom: vars.$px04;
  }

  img {
    display: inline-block;
  }
}

.pad-b {
  padding-bottom: vars.$px05;

  @media (max-width: vars.$width-tablet-1) {
    padding-bottom: vars.$px04;
  }
}

.pad-t {
  padding-top: vars.$px05;

  @media (max-width: vars.$width-tablet-1) {
    padding-top: vars.$px04;
  }
}